# CONEXIÓN SQL SERVER

## iNSTALADORES

In [ ]:
%pip install sqlalchemy
%pip install pyodbc
%pip install pandas

Requirement already satisfied: sqlalchemy in c:\users\luis_\appdata\local\programs\python\python313\lib\site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\luis_\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyodbc in c:\users\luis_\appdata\local\programs\python\python313\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## importaciones

In [3]:
import pyodbc
import pandas as pd
from sqlalchemy import text

## Conexión

In [4]:
server = 'LAPTOP-QL3CR1ON\\ANALISIS'
database = 'analisis_datos'
username = 'sa'
password = '12345'
driver = 'ODBC Driver 17 for SQL Server'

try:
    connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
    conn = pyodbc.connect(connection_string)
    conn.autocommit = True
    cursor = conn.cursor()
    print("Conexión Exitosa!")
except Exception as e:
    print(f"Error de conexión: {e}")

Conexión Exitosa!

## Creamos la tabla productos

In [6]:
create_table_query = """
                    CREATE TABLE productos (
                        product_id INT PRIMARY KEY,
                        product_name VARCHAR(100) NOT NULL,
                        product_price REAL NOT NULL
                        );
                        """
try:
    cursor.execute(create_table_query)
    print("Query ejecutado con éxito.")
except Exception as e:
    print(f"Error en el Query: {e}")

Error en el Query: ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'productos' in the database. (2714) (SQLExecDirectW)")

## Insertar las filas a la tabla

In [7]:
insert_data_query = """
                INSERT INTO productos (
                    product_id,
                    product_name,
                    product_price
                )
                VALUES
                    (1, 'Portatil Acer 125', 3200000),
                    (2, 'Portatil Azus X28', 3499900),
                    (3, 'Portatil Acer 254', 1568742),
                    (4, 'Portatil HP L587', 2564789),
                    (5, 'MacBook 15PRO', 2500000),
                    (6, 'MacBook 16XT', 3859786),
                    (7, 'Impresora Canon 1245', 897520),
                    (8, 'Multifuncional Canon 1678', 1564230),
                    (9, 'Multifuncional Canon 4126', 2864250),
                    (10, 'Multifuncional Canon 1125', 1416000),
                    (11, 'PORTATIL ASUS VIVOBOOK X1504ZA NJ373', 8423700),
                    (12, 'GIGABYTE G6X 9KG 2024CORE i7', 5478222),
                    (13, 'LENOVO IP 3 14ALC6RYZ 3', 3584875),
                    (14, 'LENOVO IDEAPAD 1 15ALC7RYZ 5', 8423700),
                    (15, 'MSI THIN 15 B12UCX 2280XCO CORE i7', 12916210),
                    (16, 'ASUS VIVOBOOK', 5423700),
                    (17, 'HP14 DQ5016LACORE i5', 6918700),
                    (18, 'HP 15 DY5008LACORE i7', 3423700),
                    (19, 'MSI THIN 15 B12UCX 2280XCO CORE i7', 8228700),
                    (20, 'GIGABYTE G6X 9KG 2024 CORE i7', 4423700);
                """
try:
    cursor.execute(insert_data_query)
    print("Query ejecutado con éxito.")
except Exception as e:
    print(f"Error en el Query: {e}")

Query ejecutado con éxito.

## Vista de la tabla creada

### Forma 1

In [17]:
vista_query = "SELECT * FROM productos"

try:
    result = pd.read_sql(vista_query,conn)
except Exception as e:
    print(f"Error en el Query: {e}")
result

C:\Users\luis_\AppData\Local\Temp\ipykernel_15632\3005540944.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(vista_query,conn)

    product_id                          product_name  product_price
0            1                     Portatil Acer 125      3200000.0
1            2                     Portatil Azus X28      3499900.0
2            3                     Portatil Acer 254      1568742.0
3            4                      Portatil HP L587      2564789.0
4            5                         MacBook 15PRO      2500000.0
5            6                          MacBook 16XT      3859786.0
6            7                  Impresora Canon 1245       897520.0
7            8             Multifuncional Canon 1678      1564230.0
8            9             Multifuncional Canon 4126      2864250.0
9           10             Multifuncional Canon 1125      1416000.0
10          11  PORTATIL ASUS VIVOBOOK X1504ZA NJ373      8423700.0
11          12          GIGABYTE G6X 9KG 2024CORE i7      5478222.0
12          13               LENOVO IP 3 14ALC6RYZ 3      3584875.0
13          14          LENOVO IDEAPAD 1 15ALC7RYZ 5      8423700.0
14          15    MSI THIN 15 B12UCX 2280XCO CORE i7     12916210.0
15          16                         ASUS VIVOBOOK      5423700.0
16          17                  HP14 DQ5016LACORE i5      6918700.0
17          18                 HP 15 DY5008LACORE i7      3423700.0
18          19    MSI THIN 15 B12UCX 2280XCO CORE i7      8228700.0
19          20         GIGABYTE G6X 9KG 2024 CORE i7      4423700.0

### Forma 2

In [ ]:
try:
    cursor.execute(vista_query)
    rows = cursor.fetchall()

    # Get column names from cursor.description (first element of each tuple)
    columns = [desc[0] for desc in cursor.description]

    # Convert rows to a format suitable for DataFrame (convert Decimal to float)
    rows = [[float(value) if isinstance(value, float) else value for value in row] for row in rows]

    # Convert the rows into a pandas DataFrame
    df = pd.DataFrame(rows, columns=columns)
except Exception as e:
    print(f"Error executing query: {e}")

df

    product_id                          product_name  product_price
0            1                     Portatil Acer 125      3200000.0
1            2                     Portatil Azus X28      3499900.0
2            3                     Portatil Acer 254      1568742.0
3            4                      Portatil HP L587      2564789.0
4            5                         MacBook 15PRO      2500000.0
5            6                          MacBook 16XT      3859786.0
6            7                  Impresora Canon 1245       897520.0
7            8             Multifuncional Canon 1678      1564230.0
8            9             Multifuncional Canon 4126      2864250.0
9           10             Multifuncional Canon 1125      1416000.0
10          11  PORTATIL ASUS VIVOBOOK X1504ZA NJ373      8423700.0
11          12          GIGABYTE G6X 9KG 2024CORE i7      5478222.0
12          13               LENOVO IP 3 14ALC6RYZ 3      3584875.0
13          14          LENOVO IDEAPAD 1 15ALC7RYZ 5      8423700.0
14          15    MSI THIN 15 B12UCX 2280XCO CORE i7     12916210.0
15          16                         ASUS VIVOBOOK      5423700.0
16          17                  HP14 DQ5016LACORE i5      6918700.0
17          18                 HP 15 DY5008LACORE i7      3423700.0
18          19    MSI THIN 15 B12UCX 2280XCO CORE i7      8228700.0
19          20         GIGABYTE G6X 9KG 2024 CORE i7      4423700.0

## Creación del FullText-Search

### Creación del catálogo

In [ ]:
create_catalog_query = "CREATE FULLTEXT CATALOG catalago_productos AS DEFAULT"

try:
    cursor.execute(create_catalog_query)
    print("Catálogo creado con éxito")
except Exception as e:
    print(f"Error en el Query: {e}")

### Crear el índice del FTS

In [8]:
create_index_query = """
                    CREATE FULLTEXT INDEX ON productos (product_name)
                    KEY INDEX PK__producto__47027DF5B9DB6294
                    WITH STOPLIST = SYSTEM;                 
                    """

try:
    cursor.execute(create_index_query)
    print("Índice FTS creado con éxito")
except Exception as e:
    print(f"Error en el índice: {e}")

Índice FTS creado con éxito

## Consultas de FTS

### CONTAINS

In [34]:
contains_query = """
                SELECT * FROM productos
                WHERE CONTAINS(product_name, 'ideapad')
                """

try:
    contains_result = cursor.execute(contains_query).fetchall()
    for row in contains_result:
        print(row)
except Exception as e:
    print(f"Error en el CONTAINS: {e}")

(14, 'LENOVO IDEAPAD 1 15ALC7RYZ 5', 8423700.0)

### FREETEXT

In [ ]:
freetext_query = """
                SELECT * FROM productos
                WHERE FREETEXT(product_name, 'portatil multifuncional ')
                """

try:
    freetext_result = cursor.execute(freetext_query).fetchall()
    for row in freetext_result:
        print(row)
except Exception as e:
    print(f"Error en el FREETEXT: {e}")

(1, 'Portatil Acer 125', 3200000.0)
(2, 'Portatil Azus X28', 3499900.0)
(3, 'Portatil Acer 254', 1568742.0)
(4, 'Portatil HP L587', 2564789.0)
(11, 'PORTATIL ASUS VIVOBOOK X1504ZA NJ373', 8423700.0)

### Actualizar las estadísticas del FTS para dar mantenimiento

In [42]:
update_statistics_query = "UPDATE STATISTICS productos WITH FULLSCAN"
try:
    cursor.execute(update_statistics_query)
    print("Estadísticas actualizadas con éxito")
except Exception as e:
    print(f"Error en la actualización de estadísticas: {e}")

Estadísticas actualizadas con éxito