In [9]:
from dotenv import load_dotenv
import os
# Connection to the database
import pyodbc as pyodbc
import pandas as pd

In [ ]:
load_dotenv('.env')
# Configura tu conexión
server = 'localhost'
database = 'data_analysis'
username = 'sa' 
password = 'Anarchy_1729' 
driver = 'ODBC Driver 17 for SQL Server'

In [24]:
try:
    connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}'
    conn = pyodbc.connect(connection_string)
    conn.autocommit = True
     # create a cursor object
    cursor = conn.cursor()
    print('Successfully connected to the database')
   
except pyodbc.Error as err:
    print(err)

Successfully connected to the database

In [ ]:
create_table_query = """
    CREATE TABLE products (
        id INT PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        price REAL NOT NULL
    )
"""

try:
    cursor.execute(create_table_query)
    conn.commit()  # Asegúrate de confirmar los cambios
    print("Table created successfully")
except pyodbc.Error as err:
    print(err)

Table created successfully

In [ ]:
insert_data_query = """
                INSERT INTO products (
                    id,
                    name,
                    price
                )
                VALUES
                    (1, 'Portatil Acer 125', 3200000),
                    (2, 'Portatil Azus X28', 3400233),
                    (3, 'Portatil Acer 254', 1568742),
                    (4, 'Portatil HP L587', 2564789),
                    (5, 'MacBook 15PRO', 2500000),
                    (6, 'MacBook 16XT', 3859786),
                    (7, 'Impresora Canon 1245', 897520),
                    (8, 'Multifuncional Canon 1678', 1564230),
                    (9, 'Multifuncional Canon 4126', 2864250),
                    (10, 'Multifuncional Canon 1125', 1416000),
                    (11, 'PORTATIL ASUS VIVOBOOK X1504ZA NJ373', 8423700),
                    (12, 'GIGABYTE G6X 9KG 2024CORE i7', 5478222),
                    (13, 'LENOVO IP 3 14ALC6RYZ 3', 3584875),
                    (14, 'LENOVO IDEAPAD 1 15ALC7RYZ 5', 8423700),
                    (15, 'MSI THIN 15 B12UCX 2280XCO CORE i7', 12916210),
                    (16, 'ASUS VIVOBOOK', 5423700),
                    (17, 'HP14 DQ5016LACORE i5', 6918700),
                    (18, 'HP 15 DY5008LACORE i7', 3423700),
                    (19, 'MSI THIN 15 B12UCX 2280XCO CORE i7', 8228700),
                    (20, 'GIGABYTE G6X 9KG 2024 CORE i7', 4423700);
                """

try:
    cursor.execute(insert_data_query)
    conn.commit()  # Save the changes to the database, is important for the correct functioning of the data server

except pyodbc.Error as err:
    print(err)

In [25]:
try:
    cursor.execute("SELECT * FROM products")
    rows = cursor.fetchall()
    
    columns = [decs[0] for decs in cursor.description]
    rows = [[float(value) if isinstance(value, float) else value for value in row] for row in rows]
    df = pd.DataFrame(rows, columns=columns)

except pyodbc.Error as err:
    print(err)

df

    id                                  name       price
0    1                     Portatil Acer 125   3200000.0
1    2                     Portatil Azus X28   3400233.0
2    3                     Portatil Acer 254   1568742.0
3    4                      Portatil HP L587   2564789.0
4    5                         MacBook 15PRO   2500000.0
5    6                          MacBook 16XT   3859786.0
6    7                  Impresora Canon 1245    897520.0
7    8             Multifuncional Canon 1678   1564230.0
8    9             Multifuncional Canon 4126   2864250.0
9   10             Multifuncional Canon 1125   1416000.0
10  11  PORTATIL ASUS VIVOBOOK X1504ZA NJ373   8423700.0
11  12          GIGABYTE G6X 9KG 2024CORE i7   5478222.0
12  13               LENOVO IP 3 14ALC6RYZ 3   3584875.0
13  14          LENOVO IDEAPAD 1 15ALC7RYZ 5   8423700.0
14  15    MSI THIN 15 B12UCX 2280XCO CORE i7  12916210.0
15  16                         ASUS VIVOBOOK   5423700.0
16  17                  HP14 DQ5016LACORE i5   6918700.0
17  18                 HP 15 DY5008LACORE i7   3423700.0
18  19    MSI THIN 15 B12UCX 2280XCO CORE i7   8228700.0
19  20         GIGABYTE G6X 9KG 2024 CORE i7   4423700.0

## Create Catalog

In [26]:
create_catalog_query = "CREATE FULLTEXT CATALOG catalago_productos AS DEFAULT"

try:
    cursor.execute(create_catalog_query)
    print("Catálogo creado con éxito")
except Exception as e:
    print(f"Error en el Query: {e}")

Catálogo creado con éxito

In [33]:
create_index_query = """
                    CREATE FULLTEXT INDEX ON products (name)
                    KEY INDEX PK__products__3213E83F8DBF8904
                    WITH STOPLIST = SYSTEM;                 
                    """

try:
    cursor.execute(create_index_query)
    print("Índice FTS creado con éxito")
except Exception as e:
    print(f"Error en el índice: {e}")

Índice FTS creado con éxito